html {
  font-size: 125%; /*10 ÷ 16 × 100% = 62.5%*/
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 110% !important;
  }
}

@media only screen and (min-width: 375px) {
  html {
    font-size: 125% !important;
  }
}

@media only screen and (min-width: 481px) {
  html {
    font-size: 188% !important;
  }
}

@media only screen and (min-width: 561px) {
  html {
    font-size: 218% !important;
  }
}

@media only screen and (min-width: 641px) {
  html {
    font-size: 250% !important;
  }
}

.flex {
  display: flex;
}

body {
  font-size: 0.7rem; /*1.4 × 10px = 14px */
}

h1 {
  font-size: 2.4rem; /*2.4 × 10px = 24px*/
}

body, html {
  padding: 0px;
  margin: 0px;
  background: #ECECEC;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html, body {
  font-family: sans-serif
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0
}

input, select, textarea {
  font-size: 100%
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0
}

abbr, acronym {
  border: 0;
  font-variant: normal
}

del {
  text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500
}

ol, ul {
  list-style: none
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500
}

q:before, q:after {
  content: ''
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

a:hover {
  text-decoration: underline
}

ins, a {
  text-decoration: none
}

/*颗粒细度 20 */
.rows:after {
  display: block;
  content: "\20";
  clear: both;
}

.col-1 {
  width: 5.5%;
  float: left;
}

.col-2 {
  width: 1.11%;
  float: left;
}

.col-3 {
  width: 16.6%;
  float: left;
}

.col-4 {
  width: 22.2%;
  float: left;
}

.col-5 {
  width: 27.7%;
  float: left;
}

.col-6 {
  width: 33.3%;
  float: left;
}

.col-7 {
  width: 38.8%;
  float: left;
}

.col-8 {
  width: 44.4%;
  float: left;
}

.col-9 {
  width: 50%;
  float: left;
}

.col-10 {
  width: 55.5%;
  float: left;
}

.col-11 {
  width: 61.1%;
  float: left;
}

.col-12 {
  width: 66.6%;
  float: left;
}

.col-13 {
  width: 72.2%;
  float: left;
}

.col-14 {
  width: 77.7%;
  float: left;
}

.col-15 {
  width: 83.3%;
  float: left;
}

.col-16 {
  width: 88.8%;
  float: left;
}

.col-17 {
  width: 94.4%;
  float: left;
}

.col-18 {
  width: 100%;
  float: left;
}

.col12-1 {
  width: 8.3%;
  float: left;
}

.col12-2 {
  width: 16.6%;
  float: left;
}

.col12-3 {
  width: 25%;
  float: left;
}

.col12-4 {
  width: 33.3%;
  float: left;
}

.col12-5 {
  width: 41.6%;
  float: left;
}

.col12-6 {
  width: 50%;
  float: left;
}

.col12-7 {
  width: 58.3%;
  float: left;
}

.col12-8 {
  width: 66.6%;
  float: left;
}

.col12-9 {
  width: 75%;
  float: left;
}

.col12-10 {
  width: 83.3%;
  float: left;
}

.col12-11 {
  width: 91.6%;
  float: left;
}

.col12-12 {
  width: 100%;
  float: left;
}

.right {
  float: right;
}

@import "theme.scss";