.showList {
  width: 90%;
  border: 1px solid #666666;
  display: flex;
}
.pic {
  width: 40%;
  padding: 3px;
  border: 1px solid #666666;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

.description {
  width: 60%;
}